header{
	nav{
		background-color: $nav;
	}
	position:relative;
	z-index:100;
}

.nav-wrap{
	padding-right:15px;
	
}
.navbar-header{
	background-color: $nav-left;
	width: 230px;
	text-align:center;
	.logo{
		line-height:50px;
	}
	@media(max-width:768px){
		width:100%;
	}
}
.sidebar-collapse .navbar-header{
	width: 50px;
	text-align:center;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    cursor:pointer;
    color: #fff;
    background-color: #D73925; 
}