

/**
 *  Colors
 *------------------------------------------------------
 */

$golden:#e5db9b;
$yellow:#741f8c;
$orange:#fbaf5d;
$brown:#2b180b;
$darkorange:#f7941d;
$nav:#dd4b39;
$nav-left:#d73925;
/**
 *  Fonts size
 *------------------------------------------------------
 */
 $large-1-fonts:48px;
 $large-2-fonts:36px;

 $medium-1-fonts:26px;
 $medium-2-fonts:24px;
 $medium-3-fonts:20px;

 $small-1-fonts:18px;
 $small-2-fonts:16px;
 $small-3-fonts:14px;
 /**
 *  Load fonts
 *------------------------------------------------------
 */

 .no-padding{
    padding:0px;
 }
.bg{
	background-color:$brown;
	padding:30px 15px;
}